# Either remove the below line if not using PHP 5.4, or specify a different version.
AddType application/x-httpd-php54 .php

Options +FollowSymlinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]

RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

DirectoryIndex ide.php

#Gzip
<ifmodule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>
#End Gzip

#Expire headers
	<ifModule mod_expires.c>
		ExpiresActive On
		ExpiresDefault "access plus 5 seconds"
		ExpiresByType image/x-icon "access plus 5 seconds"
		ExpiresByType image/jpeg "access plus 5 seconds"
		ExpiresByType image/png "access plus 5 seconds"
		ExpiresByType image/gif "access plus 5 seconds"
		ExpiresByType application/x-shockwave-flash "access plus 5 seconds"
		ExpiresByType text/css "access plus 5 seconds"
		ExpiresByType text/javascript "access plus 5 seconds"
		ExpiresByType application/javascript "access plus 5 seconds"
		ExpiresByType application/x-javascript "access plus 5 seconds"
		ExpiresByType text/html "access plus 5 seconds"
		ExpiresByType application/xhtml+xml "access plus 5 seconds"
	</ifModule>
#End Expire headers
