@import 'fonts.css';
@import 'inputs.css';

body {
	background-color: #EDEDED;
	cursor: default;
	font-family: 'Segoe UI', SansRegular, sans-serif;
	height: 100%;
	margin: 0px;
	-webkit-font-smoothing: antialiased !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Login Styling */
#ide-login {
	height: 100%;
	opacity: 0;
	position: fixed;
	-moz-transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	-o-transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	transform: scale(0.9, 0.9);
	width: 100%;
	z-index: 101;
}

#login-title {
	color: #414141;
	font-family: 'Segoe UI Light', SansLight, sans-serif;
	font-size: 50px;
	left: 120px;
	opacity: 0;
	position: fixed;
	z-index: 101;
	text-shadow: 0px 0px 1px rgba(65, 65, 65, 0.3);
}

#login-contents {
	height: 240px;
	left: 50%;
	margin-left: -200px;
	margin-top: -120px;
	position: fixed;
	top: 50%;
	width: 400px;
}

#cancel-login-button {
	position: fixed;
	top: 12px;
	left: 5px;
	opacity: 0;
	z-index: 102;
}

.login-instruction {
	color: #414141;
	font-size: 24px;
	font-family: 'Segoe UI Light', SansLight, sans-serif;
}

.login-box {
	height: 20px;
	color: #414141;
	width: calc(100% - 5px);
	width: -ms-calc(100% - 5px);
	width: -o-calc(100% - 5px);
	width: -moz-calc(100% - 5px);
	width: -webkit-calc(100% - 5px);
}

/* Generic Shroud Background */
#ide-shroud {
	background-color: #FFFFFF;
	height: 100%;
	left: 0px;
	opacity: 0;
	position: fixed;
	width: 100%;
	z-index: 100;
}

/* Explorer Styling */
#ide-explorer {
	background-color: #FFFFFF;
	border-bottom: solid 1px #D6D6D6;
	border-left: solid 1px #D6D6D6;
	border-top: solid 1px #D6D6D6;
	box-shadow: -2px 0px 3px -2px #D6D6D6;
	display: inline-block;
	height: calc(100% - 146px);
	height: -moz-calc(100% - 146px);
	padding-left: 5px;
	position: fixed;
	right: 0px;
	top: 120px;
	width: 200px;
	z-index: 3;
}

#explorer-title {
	color: #414141;
	font-size: 11px;
	text-transform: uppercase;
}

#explorer-contents {
	background-color: #F2F2F2;
	border: solid 1px #D6D6D6;
	color: #414141;
	display: inline-block;
	font-size: 12px;
	height: calc(100% - 30px);
	height: -moz-calc(100% - 30px);
	left: +2px;
	position: relative;
	width: 190px;
}

/* IDE Status Styling */
#ide-status {
	background-color: #FFFFFF;
	border-top: solid 1px #D6D6D6;
	bottom: 0px;
	box-shadow: 0px -1px 3px #D6D6D6;
	height: 20px;
	left: 0px;
	padding: 2px;
	position: fixed;
	width: 100%;
	z-index: 2;
}

#status-tooltip {
	color: #414141;
	font-family: 'Segoe UI', SansRegular, sans-serif;
	font-size: 12px;
	left: 4px;
	position: absolute;
	top: 5px;
}

#status-right {
	position: absolute;
	right: 9px;
	text-align: right;
	top: 0px;
}

#status-filename {
	color: #414141;
	font-family: 'Segoe UI', SansRegular, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

/* Ribbon Styling */
#ide-ribbon {
	background-color: #FFFFFF;
	border-bottom: solid 1px #D6D6D6;
	box-shadow: 0px 0px 3px #D6D6D6;
	height: 120px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

#ribbon-tabs {
	border-bottom: solid 1px #D6D6D6;
	box-shadow: inset 0px -2px 3px -2px #D6D6D6;
	height: 30px;
	position: fixed;
	width: 100%;
}

.tab-spacing {
	display: inline-block;
}

.ribbon-orb {
	background-color: #006C96;
	border-top: solid 1px #006C96;
	color: #FFFFFF;
	font-family: 'Segoe UI Semilight', SansLight, sans-serif;
	font-size: 14px;
	padding: 4px 16px 4px 16px;
	position: relative;
	text-transform: uppercase;
	top: +1px;
}

.ribbon-tab {
	border-left: solid 1px transparent;
	border-right: solid 1px transparent;
	border-top: solid 1px transparent;
	display: inline-block;
	font-family: 'Segoe UI Semilight', SansLight, sans-serif;
	font-size: 14px;
	padding: 4px 16px 4px 16px;
	position: relative;
	text-transform: uppercase;
	top: +3px;
	transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
	width: auto;
	z-index: 3;
}

.current-tab {
	background-color: #FFFFFF;
	border-left: solid 1px #D6D6D6;
	border-right: solid 1px #D6D6D6;
	border-top: solid 1px #D6D6D6;
	box-shadow: 0px -2px 3px -2px #D6D6D6;
	color: #006C96;
	transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
	z-index: 3;
}

.new-tab {
	transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
}

.new-tab:hover {
	border-left: solid 1px #D6D6D6;
	border-right: solid 1px #D6D6D6;
	border-top: solid 1px #D6D6D6;
	color: #006C96;
}

.separator {
	background-color: #006C96;
	display: inline-block;
	height: 80px;
	position: relative;
	top: 2px;
	width: 1px;
}

.ribbon-panel {
	position: relative;
}

.hidden {
	display: none;
}

.shown {
	display: inherit;
}

#ribbon-panels {
	left: 5px;
	position: fixed;
	top: 31px;
	width: 100%;
}

.sub-panel {
	display: inline-block;
	height: 65px;
	min-width: 50px;
	padding: 10px 5px 10px 5px;
}

.sub-panel-title {
	bottom: 2px;
	color: #414141;
	display: block;
	font-family: 'Segoe UI', SansRegular, sans-serif;
	font-size: 12px;
	text-align: center;
}

.panel-item-name {
	bottom: 0px;
	color: #000000;
	font-family: 'Segoe UI', SansRegular, sans-serif;
	font-size: 12px;
	text-align: center;
}

.panel-item {
	border: solid 1px transparent;
	display: inline-block;
	font-family: 'Segoe UI', SansRegular, sans-serif;
	font-size: 12px;
	height: 50px;
	min-width: 60px;
	padding-top: 2px;
	position: relative;
	text-align: center;
	top: -5px;
	-moz-transition: all 0.08s ease-in-out;
	transition: all 0.15s ease-in-out;
	-ms-transition: all 0.08s ease-in-out;
	-o-transition: all 0.08s ease-in-out;
	-webkit-transition: all 0.08s ease-in-out;
	width: auto;
}

.panel-item:hover {
	background-color: rgba(0, 108, 150, 0.1);
	border: solid 1px rgba(0, 108, 150, 0.6);
}

.panel-item-image {
	opacity: 0.8;
}