@import 'fonts.css';
@import 'inputs.css';
@import 'spinner.css';

/* Generic Styling */
body {
	background-color: #EDEDED;
	cursor: default;
	font-family: "Segoe UI", SansRegular, sans-serif;
	height: 100%;
	margin: 0;
	padding: 10px 16% 10px 16%;
	-webkit-font-smoothing: antialiased !important;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Title Styling */
#manage-title {
	font-family: 'Segoe UI Semilight', SansLight, sans-serif;
	font-size: 20px;
	left: 10px;
	position: fixed;
	top: 6px;
}

#manage-user {
	display: inline-block;
	font-family: 'Segoe UI Semilight', SansLight, sans-serif;
	font-size: 14px;
	position: fixed;
	right: 10px;
	top: 12px;
}

/* Navigation Styling */
#manage-navigation {
	color: #454545;
	font-size: 13px;
	height: calc(100% - 70px);
	height: -ms-calc(100% - 70px);
	height: -o-calc(100% - 70px);
	height: -moz-calc(100% - 70px);
	height: -webkit-calc(100% - 70px);
	left: 0px;
	overflow: hidden;
	position: fixed;
	text-shadow: 0px 0px 1px rgba(69, 69, 69, 0.1);
	top: 55px;
	width: 170px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.nav-button {
	border-left: inset 0px rgba(132, 165, 219, 0);
	cursor: pointer;
	display: inline-block;
	font-size: 0.9em;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	position: relative;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
	width: 100%;
}

.nav-current {
	border-left: inset 7px #4284ED;
	color: #000000;
	cursor: default;
}

.nav-new:hover {
	border-left: inset 7px rgba(132, 165, 219, 1);
}

/* Control Panel Styling */
#manage-controls {
	border-left: solid 1px #C2C2C2;
	color: #454545;
	font-size: 13px;
	height: calc(100% - 70px);
	height: -ms-calc(100% - 70px);
	height: -o-calc(100% - 70px);
	height: -moz-calc(100% - 70px);
	height: -webkit-calc(100% - 70px);
	left: 170px;
	overflow: hidden;
	position: fixed;
	text-shadow: 0px 0px 1px rgba(69, 69, 69, 0.1);
	top: 55px;
	width: calc(100% - 195px);
	width: -ms-calc(100% - 195px);
	width: -o-calc(100% - 195px);
	width: -moz-calc(100% - 195px);
	width: -webkit-calc(100% - 195px);
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#control-view {
	border: none !important;
	height: 100%;
	outline: none !important;
	width: 100%;
}

/* Copyright Styling */
#copyright {
	bottom: 5px;
	color: #454545;
	font-size: 12px;
	position: fixed;
	right: 5px;
}