@import 'fonts.css';
@import 'inputs.css';

/* Generic Styling */
body {
	background-color: #EDEDED;
	cursor: default;
	font-family: "Segoe UI", SansRegular, sans-serif;
	font-size: 13px;
	margin: 0;
	padding-left: 10px;
	-webkit-font-smoothing: antialiased !important;
}

a {
	color: inherit;
	color: rgb(132, 165, 219);
	text-decoration: none;
}

#main-wrap {
	color: #454545;
	width: 600px;
}

#copyright {
	color: #000000;
}